* text=auto eol=lf

*.sln  text eol=crlf
*.bat  text eol=crlf
*.ps1  text eol=crlf

*.wav  binary
*.mp3  binary
*.flac binary
*.ogg  binary
*.png  binary
*.jpg  binary
*.ico  binary
*.ttf  binary
*.otf  binary
